* {
	box-sizing: border-box;
	padding: 0;
    margin: 0;
}

html {
	background: url(../images/galaxy3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width:100%;
	height: 100%;
}

body {
	height: 100%;
	width:90%;
	margin:auto;
	color: white;
}


header{
	background-color: rgba(0,0,0,0.9);
	padding: 20px auto;
	margin-bottom: 3%;
	border-radius: 0px 75px 0px 10px;
}

.content {
	float:right;
	width:80%;
	margin-left:2%;
	border-radius: 0px 50px 50px 50px;
}

.content img{
	float:left;
	width:22%;
	padding-right: 7px;
}

.content ul{
	text-align:center;
}

.content li{
	margin-bottom:1%;
}

#nav {
	float:left;
	width:18%;
	border-radius: 0px 50px 0px 0px;
	background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0)); 
	background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0)); 
	background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8),rgba(0,0,0,0.6), rgba(0,0,0,0));
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8),rgba(0,0,0,0.6), rgba(0,0,0,0));
}

#nav li {
	display: block;
	margin-top: 3%;
	white-space: nowrap;
	font-size:1.3em;	
}

#nav ul{
	padding-left: 3%;
}

#catalog {
	margin-left: 10px;
}

#addEntry, #submitEntry {
	margin-left: 50px;
}

input {
	margin-top: 4px;
	margin-bottom: 4px;
}

table {
	border-spacing: 10px;
    border-collapse: separate;
}

th {
	text-align: left;
    font-size: 1.1em;
	padding: 2px;
	margin: 1px;
}

td {
    padding: 2px;
	margin: 1px;
	font-size: 0.9em;
}



section {
	overflow:auto;
	background-color: rgba(0,0,0,0.9);
	margin-bottom: 2%;
	min-height:74%;
}

ul {
	list-style-type: none;
}

p {
	padding: 0% 2%;
	margin-bottom: 2.5%;
}

h1{
	text-align:center;
	color: #0A30DA;	
	opacity: 0.8;
	font-size: 3.5em;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin-bottom: 0.5%;
	margin-top: 0.5%;
	letter-spacing: 3px;
}

img {
    border-radius: 30px 15px 30px 15px;
	max-width: 30%;
}

.button:hover {
	font-weight:900;
}

.button {
	border-radius: 11px 11px 11px 11px;
	background: -webkit-linear-gradient(#2E2F2F, #6A6B6B); 
	background: -o-linear-gradient(#2E2F2F, #6A6B6B); 
	background: -moz-linear-gradient(#2E2F2F,0.8), #6A6B6B);
	background: linear-gradient(#2E2F2F, #6A6B6B); 
	color: white;
	margin: 1%;
	padding: 5px;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color:white;
}

a:visited {
	color: #E3BCFD;
}

a:hover{
	color: #8FA0E6;
	font-size: 110%;
	letter-spacing: 1px;
}

nav a:link {
	text-decoration: none;
	color:white;
}

nav a:visited {
	color: #E3BCFD;
}

nav a:hover {
	color: #8FA0E6;
	font-weight:bold;
	font-size: 101%;
	letter-spacing: 1px;
}

a:active, nav a:active {
    background-color: #A9D0F5;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
    font-weight: bold;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#tblListData {
    border-radius: 1px 8px 8px 1px;
}

#tblListData, th {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid white;
    color: white;
}

#tblListData, td {
    font-size: 12px;
    padding: 3px;
    border-collapse: collapse;
    border-right: 1px solid black;
}

#btnToggleDocuments {
    padding: 4px;
    background-color: lightsteelblue;
    font: 11px sans-serif;
    border-color: steelblue;
    border-radius: 1px 8px 8px 1px;
}