* {
	box-sizing: border-box;
	padding: 0;
    margin: 0;
}

html {
	background: url(../images/galaxy3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width:100%;
	height: 100%;
}

body {
	height: 100%;
	width:98%;
	margin:auto;
	color: white;
}


header {
    background-color: rgba(0,0,0,0.9);
    padding: 7px;
    margin-bottom: 2%;
    border-radius: 0px 0px 15px 15px;
}

.popup {
    margin: auto;
    text-align: center;
    margin-top: 35px;
    width: 85%;
    border-radius: 15px 15px 15px 15px;
    font-family: Orbitron, Arial, sans-serif;
}

.popup li {
    font-size: .70em;
}

.content {
    float: right;
    width: 83%;
    border-radius: 0px 15px 15px 0px;
    font-family: Orbitron, Arial, sans-serif;
}

.content img{
	float:left;
	width:22%;
	padding-right: 7px;
}

.content ul {
    text-align: center;
}

.content li{
	margin-bottom:1%;
}

#search{
    margin-left: 20px;
}

#tblForm td {
    text-align: right;
    height: 40px;
    width: 30%;
    padding-right: 5px;
}

#tblForm td + td {
    text-align: left;
    width: 70%;
}

#tblForm, th {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid white;
    color: white;
}

#tblForm, td {
    font-size: 12px;
    padding: 10px;
    border-collapse: collapse;
}


#tblListData {
    font-family: Orbitron, Arial, sans-serif;
    margin-left: 10px;
}

hr{
    margin-bottom: 8px;
    margin-top: 8px;
}

#nav {
	float:left;
	width:15%;
	border-radius: 0px 50px 0px 0px;
	background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0)); 
	background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0)); 
	background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8),rgba(0,0,0,0.6), rgba(0,0,0,0));
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.8),rgba(0,0,0,0.6), rgba(0,0,0,0));
}

#nav li {
    display: block;
    margin-top: 3%;
    white-space: nowrap;
    font-size: 1.05em;
    font-family: Virgo, Arial, sans-serif;
}

#nav ul{
	padding-left: 3%;
}

#catalog {
	margin-left: 10px;
}

#addEntry, #submitEntry {
	margin-left: 50px;
}

input {
	margin-top: 4px;
	margin-bottom: 4px;
}

input[type="text"] {
    width: 300px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
    border-radius: 15px 15px 15px 15px;
}

th {
	text-align: left;
    font-size: 1.1em;
	padding: 2px;
	margin: 1px;
}

td {
    padding: 2px;
	margin: 1px;
	font-size: 0.9em;
}

section {
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    margin-bottom: 1%;
    min-height: 81%;
}

ul {
	list-style-type: none;
}

p {
	padding: 0% 2%;
	margin-bottom: 2.5%;
}

h1 {
    text-align: center;
    color: #00bfff;
    opacity: 0.8;
    font-size: 3.4em;
    /*
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    */
    margin-bottom: 0.4%;
    margin-top: 0.4%;
    letter-spacing: 2px;
    font-family: Virgo, Arial, sans-serif;
}

h1 img {
    border-radius: 15px 15px 15px 15px;
    width: 7%;
    max-width: 15%;
    margin-right: 10px;
    vertical-align: middle;
}

h2 {
    margin-bottom: 15px;
}

.button:hover {
	font-weight:900;
}

.button {
    border-radius: 10px 10px 10px 10px;
    background: -webkit-linear-gradient(#2E2F2F, #6A6B6B);
    background: -o-linear-gradient(#2E2F2F, #6A6B6B);
    background: -moz-linear-gradient(#2E2F2F,0.8), #6A6B6B);
    background: linear-gradient(#2E2F2F, #6A6B6B);
    color: white;
    margin: 1%;
    padding: 5px;
    font-weight: bold;
    font: 11px Virgo;
}

a:link {
	text-decoration: none;
	color:white;
}

a:visited {
	color: #E3BCFD;
}

a:hover{
	color: #8FA0E6;
	font-size: 101%;
}

table a:hover {
    color: #8FA0E6;
    font-size: 100%;
}

#link_header {
    border-collapse: collapse;
    border: 1px solid black;
}

nav a:link {
	text-decoration: none;
	color:white;
}

nav a:visited {
	color: #E3BCFD;
}

nav a:hover {
	color: #8FA0E6;
	font-weight:bold;
	font-size: 101%;
}

a:active, nav a:active {
    background-color: #A9D0F5;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 10px sans-serif;
    font-weight: bold;
    font-family: Orbitron, Arial, sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#tblListData {
    border-radius: 1px 8px 8px 1px;
}

#tblListData, th {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid white;
    color: white;
}

#tblListData, td {
    font-size: 12px;
    padding: 10px;
    border-collapse: collapse;
}

#btnToggleDocuments {
    padding: 5px;
    background-color: lightsteelblue;
    font-weight: bold;
    font: 11px Virgo;
    border-color: steelblue;
    border-radius: 8px 8px 8px 8px;
    margin-left: 10px;
    margin-bottom: 8px;
}

#btnToggleDocuments, #btnUpload {
    padding: 5px;
    background-color: lightsteelblue;
    font-weight: bold;
    font: 11px Virgo;
    border-color: steelblue;
    border-radius: 8px 8px 8px 8px;
    margin-left: 10px;
    margin-bottom: 8px;
}

@font-face {
    font-family: 'Michroma';
    src: url('../fonts/michroma-webfont.eot');
    src: url('../fonts/michroma-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/michroma-webfont.woff2') format('woff2'), 
        url('../fonts/michroma-webfont.woff') format('woff'), 
        url('../fonts/michroma-webfont.ttf') format('truetype'), 
        url('../fonts/michroma-webfont.svg#michromaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron-black-webfont.eot');
    src: url('../fonts/orbitron-black-webfont.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/orbitron-black-webfont.woff2') format('woff2'), 
        url('../fonts/orbitron-black-webfont.woff') format('woff'), 
        url('../fonts/orbitron-black-webfont.ttf') format('truetype'), 
        url('../fonts/orbitron-black-webfont.svg#orbitronblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Virgo';
    src: url('../fonts/virgo-webfont.eot');
    src: url('../fonts/virgo-webfont.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/virgo-webfont.woff2') format('woff2'), 
        url('../fonts/virgo-webfont.woff') format('woff'), 
        url('../fonts/virgo-webfont.ttf') format('truetype'), 
        url('../fonts/virgo-webfont.svg#virgo_01regular') format('svg');
    font-weight: normal;
    font-style: normal;
}