<!DOCTYPE html>
<html>
<head>
    <title>Communities</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="../../css/styles.css" />
</head>
<body>
    <header>
        <h1 data-th-inline="text"><img th:src="@{/images/logo2.png}" alt="" />Knowledge Management System</h1>
    </header>
    <section id="nav">
        <nav>
            <ul>
                <li><a th:href="@{/kmcatalogentries}">Home</a></li>
                <li><a th:href="@{/documentcategories}">Document Categories</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/departments}">Departments</a></li>
                <li><a th:href="@{/communities}">Communities</a></li>
                <li><a th:href="@{/d3tree}">D3 Tree</a></li>
                <li><a th:href="@{/searchcatalog}">Search Catalog</a></li>
            </ul>
        </nav>
    </section>
    <section class="content">
        <div>
            <table id="catalog">
                <tr>
                    <th>ID</th>
                    <th>Community</th>
                </tr>
                <tr data-th-each="entry : ${communities}">
                    <td data-th-text="${entry.id}"></td>
                    <td data-th-text="${entry.communityName}"></td>
                </tr>
            </table>
        </div>
        <hr />
        <div id="addEntry">
            <form data-th-action="@{/communities/add}" name="addCommunityForm" method="post">
                <table id="tblForm">
                    <tr>
                        <th colspan="2"><h2>Add a New Community</h2></th>
                    </tr>
                    <tr>
                        <td>
                            Community:
                        </td>
                        <td>
                            <input type="text" name="communityName" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="button" type="submit" value="Add Community" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <hr />
        <div id="submitEntry">
            <form data-th-action="@{/logout}" method="post">
                <input class="button" type="submit" value="Sign Out" />
            </form>
        </div>
    </section>
</body>
</html>