<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Edit KM Catalog Entry</title>
</head>
<body>
    Edit KM Catalog Entry<br />
    <form data-th-action="@{/kmcatalogentries/edit/{id}(id=${entry.id})}" data-th-object="${entry}" data-th-method="put" role="form">
        Title: <input type="text" name="title" data-th-value="${entry.title}" /><br />
        Knowledge Owner: <input type="text" name="knowledgeOwner" data-th-value="${entry.knowledgeOwner}"/><br />
        Audience: <input type="text" name="audience" data-th-value="${entry.audience}"/><br />
        Document Category:
        <select id="doc_cat_selection" name="documentCategory" data-th-value="${entry.documentCategory}"></select><br />
        Community:
        <select id="community_selection" name="community" data-th-value="${entry.community}"></select><br />
        Product:
        <select id="product_selection" name="product" data-th-value="${entry.product}"></select><br />
        Filename: <input type="text" name="documentFilename"  data-th-value="${entry.documentFilename}"/><br />
        <input type="submit" value="Update Entry" /><br />
    </form>
</body>
</html>