<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Edit KM Catalog Entry</title>
    <script th:src="@{/js/lib/jquery-3.2.0.min.js}" src="../../js/lib/jquery-3.1.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="../../css/styles.css" />
</head>
<body>
    <header>
        <h1 data-th-inline="text"><img th:src="@{/images/logo2.png}" alt="" />Knowledge Management System</h1>
    </header>
    <section id="nav">
        <nav>
            <ul>
                <li><a th:href="@{/kmcatalogentries}">Home</a></li>
                <li><a th:href="@{/documentcategories}">Document Categories</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/departments}">Departments</a></li>
                <li><a th:href="@{/communities}">Communities</a></li>
                <li><a th:href="@{/d3tree}">D3 Tree</a></li>
                <li><a th:href="@{/searchcatalog}">Search Catalog</a></li>
            </ul>
        </nav>
    </section>
    <section class="content">
        <div id="deleteEntry">
            <h2>Delete KM Catalog Entry</h2>           
            <form data-th-action="@{/kmcatalogentries/delete/{id}(id=${entry.id})}" data-th-object="${entry}" data-th-method="delete" role="form">
                <div>
                    <table id="catalog">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Owner</th>
                            <th>Audience</th>
                            <th>Category</th>
                            <th>Community</th>
                            <th>Product</th>
                            <th>Filename</th>
                        </tr>
                        <tr>
                            <td data-th-text="${entry.id}"></td>
                            <td data-th-text="${entry.documentTitle}"></td>
                            <td data-th-text="${entry.knowledgeOwner}"></td>
                            <td data-th-text="${entry.audience}"></td>
                            <td data-th-text="${entry.documentCategory}"></td>
                            <td data-th-text="${entry.community}"></td>
                            <td data-th-text="${entry.product}"></td>
                            <td data-th-text="${entry.documentFilename}"></td>
                        </tr>
                    </table>
                </div>
                <input type="submit" value="Delete Entry" /><br />
            </form>
        </div>
    </section>
</body>
</html>