<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Edit KM Catalog Entry</title>
    <script th:src="@{/js/lib/jquery-3.2.0.min.js}" src="../../js/lib/jquery-3.1.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="../../css/styles.css" />

    <script th:inline="javascript" type="text/javascript">
        var myCategory;
        var myCommunity;
        var myProduct;

        $("document").ready(function (e) {
            /*<![CDATA[*/
            getDataFromWebService(/*[[@{/public/api/departments}]]*/, "audience");
            getDataFromWebService(/*[[@{/public/api/documentcategories}]]*/, "doc");
            getDataFromWebService(/*[[@{/public/api/communities}]]*/, "community");
            getDataFromWebService(/*[[@{/public/api/products}]]*/, "product");
            /*]]>*/
        });

        function creatAudienceOptions(data) {
            for (var field in data) {
                $('<option value="' + data[field].departmentName + '">' + data[field].departmentName + '</option>').appendTo('#audience_selection');
            }
        }

        function creatDocOptions(data) {
            for (var field in data) {
                if (data[field].categoryName != myCategory) {
                    $('<option value="' + data[field].categoryName + '">' + data[field].categoryName + '</option>').appendTo('#doc_cat_selection');
                }
            }
        }

        function creatCommunityOptions(data) {
            for (var field in data) {
                if (data[field].communityName != myCommunity) {
                    $('<option value="' + data[field].communityName + '">' + data[field].communityName + '</option>').appendTo('#community_selection');
                }
            }
        }

        function creatProductOptions(data) {
            for (var field in data) {
                if (data[field].productName != myProduct) {
                    $('<option value="' + data[field].productName + '">' + data[field].productName + '</option>').appendTo('#product_selection');
                }
            }
        }

        function getDataFromWebService(targetUrl, targetDOM) {
            $.ajax({
                type: "GET", //method type of GET
                url: targetUrl, //url passed to function
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status, jqXHR) { //on successful ajax call
                    if (targetDOM == "audience") {
                        creatAudienceOptions(data);
                    }
                    if (targetDOM == "doc") {
                        creatDocOptions(data);
                    }
                    if (targetDOM == "community") {
                        creatCommunityOptions(data);
                    }
                    if (targetDOM == "product") {
                        creatProductOptions(data);
                    }
                },
                error: function (jqXHR, status) { //if not successful
                    console.log(status); //log error to javascript console
                }
            });
        }

        function popup() {
            window.open("/files", 'window', 'width=800,height=500');
        }

    </script>
</head>
<body>
    <header>
        <h1 data-th-inline="text"><img th:src="@{/images/logo2.png}" alt="" />Knowledge Management System</h1>
    </header>
    <section id="nav">
        <nav>
            <ul>
                <li><a th:href="@{/kmcatalogentries}">Home</a></li>
                <li><a th:href="@{/documentcategories}">Document Categories</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/departments}">Departments</a></li>
                <li><a th:href="@{/communities}">Communities</a></li>
                <li><a th:href="@{/d3tree}">D3 Tree</a></li>
                <li><a th:href="@{/searchcatalog}">Search Catalog</a></li>
            </ul>
        </nav>
    </section>
    <section class="content">
        <div id="addEntry">
            <form data-th-action="@{/kmcatalogentries/edit/{id}(id=${entry.id})}" data-th-object="${entry}" data-th-method="put" role="form">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    myAudience = /*[[${entry.audience}]]*/ 'value';
                    myCategory = /*[[${entry.documentCategory}]]*/ 'value';
                    myCommunity = /*[[${entry.community}]]*/ 'value';
                    myProduct = /*[[${entry.product}]]*/ 'value';
                    /*]]>*/
                </script>
                <table id="tblForm">
                    <tr>
                        <th colspan="2"><h2>Edit KM Catalog Entry</h2></th>
                    </tr>
                    <tr>
                        <td>
                            Title:
                        </td>
                        <td>
                            <input type="text" name="documentTitle" data-th-value="${entry.documentTitle}" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Knowledge Owner:
                        </td>
                        <td>
                            <input type="text" name="knowledgeOwner" data-th-value="${entry.knowledgeOwner}" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Audience:
                        </td>
                        <td>
                            <select id="doc_cat_selection" name="audience" data-th-value="${entry.audience}" required="required">
                                <option data-th-value="${entry.audience}" data-th-text="${entry.audience}" data-th-selected="${entry.audience}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Document Category:
                        </td>
                        <td>
                            <select id="doc_cat_selection" name="documentCategory" data-th-value="${entry.documentCategory}" required="required">
                                <option data-th-value="${entry.documentCategory}" data-th-text="${entry.documentCategory}" data-th-selected="${entry.documentCategory}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Community:
                        </td>
                        <td>
                            <select id="community_selection" name="community" data-th-value="${entry.community}" required="required">
                                <option data-th-value="${entry.community}" data-th-text="${entry.community}" data-th-selected="${entry.community}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Product:
                        </td>
                        <td>
                            <select id="product_selection" name="product" data-th-value="${entry.product}" required="required">
                                <option data-th-value="${entry.product}" data-th-text="${entry.product}" data-th-selected="${entry.product}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Filename:
                        </td>
                        <td>
                            <input type="text" name="documentFilename" data-th-value="${entry.documentFilename}" required="required" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Update Entry" />
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
            <hr />
            <button id="btnUpload" th:onclick="'javascript:popup()'">Upload New File</button>
        </div>
    </section>
</body>
</html>